name: humhub
description: HumHub Mobile app

# The following line prevents the package from being accidentally published to
# pub.dev using `flutter pub publish`. This is preferred for private packages.
publish_to: 'none' # Remove this line if you wish to publish to pub.dev

# The following defines the version and build number for your application.
# A version number is three numbers separated by dots, like 1.2.43
# followed by an optional build number separated by a +.
# Both the version and the builder number may be overridden in flutter
# build by specifying --build-name and --build-number, respectively.
# In Android, build-name is used as versionName while build-number used as versionCode.
# Read more about Android versioning at https://developer.android.com/studio/publish/versioning
# In iOS, build-name is used as CFBundleShortVersionString while build-number is used as CFBundleVersion.
# Read more about iOS versioning at
# https://developer.apple.com/library/archive/documentation/General/Reference/InfoPlistKeyReference/Articles/CoreFoundationKeys.html
# In Windows, build-name is used as the major, minor, and patch parts
# of the product and file versions while build-number is used as the build suffix.
version: 1.0.0+1

environment:
  sdk: ">=3.6.0 <4.0.0"

# Dependencies specify other packages that your package needs in order to work.
# To automatically upgrade your package dependencies to the latest versions
# consider running `flutter pub upgrade --major-versions`. Alternatively,
# dependencies can be manually updated by changing the version numbers below to
# the latest version available on pub.dev. To see which dependencies have newer
# versions available, run `flutter pub outdated`.
dependencies:
  flutter:
    sdk: flutter
  flutter_localizations:
    sdk: flutter

  url_launcher: ^6.1.7
  cupertino_icons: ^1.0.2
  dio: ^5.8.0+1
  flutter_riverpod: ^2.1.3
  permission_handler: ^11.3.1
  flutter_secure_storage: ^10.0.0-beta.4
  flutter_inappwebview: ^6.0.0
  receive_sharing_intent:
    git:
      url: https://github.com/KasemJaffer/receive_sharing_intent
      ref: master
  package_info_plus: ^8.2.1
  app_links: ^6.3.3
  firebase_messaging: ^15.2.2
  firebase_core: ^3.11.0
  flutter_local_notifications: ^18.0.1
  loggy: ^2.0.3
  app_settings: ^5.2.0
  app_badge_plus: ^1.1.6
  rive: ^0.9.0
  auto_size_text: ^3.0.0
  connectivity_plus: ^6.1.3
  swipe_to: ^1.0.2
  shared_preferences: ^2.2.2
  intl: any
  flutter_dotenv: ^5.1.0
  path_provider: ^2.1.4
  open_file_plus: ^3.4.1+1
  cached_network_image: ^3.3.1
  talker_flutter: ^4.6.11
  quick_actions: ^1.1.0
  mime: ^2.0.0
  flutter_image_compress: ^2.4.0

dependency_overrides:
  quick_actions_platform_interface:
    git:
      url: https://github.com/PrimozRatej/packages
      path: packages/quick_actions/quick_actions_platform_interface
      ref: main
  quick_actions:
    git:
      url: https://github.com/PrimozRatej/packages
      path: packages/quick_actions/quick_actions
      ref: main
  quick_actions_android:
    git:
      url: https://github.com/PrimozRatej/packages
      path: packages/quick_actions/quick_actions_android
      ref: main
  quick_actions_ios:
    git:
      url: https://github.com/PrimozRatej/packages
      path: packages/quick_actions/quick_actions_ios
      ref: main


dev_dependencies:
  flutter_test:
    sdk: flutter
  mockito: ^5.4.0

  # The "flutter_lints" package below contains a set of recommended lints to
  # encourage good coding practices. The lint set provided by the package is
  # activated in the `analysis_options.yaml` file located at the root of your
  # package. See that file for information about deactivating specific lint
  # rules and activating additional ones.
  flutter_lints: ^5.0.0

# For information on the generic Dart part of this file, see the
# following page: https://dart.dev/tools/pub/pubspec

# The following section is specific to Flutter packages.
flutter:
  generate: true
  # The following line ensures that the Material Icons font is
  # included with your application, so that you can use the icons in
  # the material Icons class.
  uses-material-design: true

  fonts:
    - family: OpenSans
      fonts:
        - asset: assets/fonts/OpenSans-Regular.ttf
        - asset: assets/fonts/OpenSans-SemiBold.ttf

  assets:
    - assets/
    - assets/images/
    - assets/images/locale/
    - assets/animations/
  # To add assets to your application, add an assets section, like this:
  # assets:
  #   - images/a_dot_burr.jpeg
  #   - images/a_dot_ham.jpeg

  # An image asset can refer to one or more resolution-specific "variants", see
  # https://flutter.dev/assets-and-images/#resolution-aware

  # For details regarding adding assets from package dependencies, see
  # https://flutter.dev/assets-and-images/#from-packages

  # To add custom fonts to your application, add a fonts section here,
  # in this "flutter" section. Each entry in this list should have a
  # "family" key with the font family name, and a "fonts" key with a
  # list giving the asset and other descriptors for the font. For
  # example:
  # fonts:
  #   - family: Schyler
  #     fonts:
  #       - asset: fonts/Schyler-Regular.ttf
  #       - asset: fonts/Schyler-Italic.ttf
  #         style: italic
  #   - family: Trajan Pro
  #     fonts:
  #       - asset: fonts/TrajanPro.ttf
  #       - asset: fonts/TrajanPro_Bold.ttf
  #         weight: 700
  #
  # For details regarding fonts from package dependencies,
  # see https://flutter.dev/custom-fonts/#from-packages
